@import "tailwindcss";

:root {
   --azul-oscuro: #00072D;
   --azul-marino: #001C55;
   --azul-claro: #0A2472;
   --celeste: #0E6BAF;
   --celeste-claro: #A6E1FA;

   --blanco: #F1F1F1;
   --negro: #0f0f0f;
}

body {
   background-color: var(--azul-oscuro);
   user-select: none;
}